/*
Name : Satish Birajdar and Simranjit Sidhu
File Name : style.css
Description : A desktop and Mobile-Specific Web Forum leveraging using
			  accumulated knowledge of PHP, JavaScript, JQuery Mobile and MySQL.
*/

body
{
	font-family: 'Patrick Hand SC', cursive;
	font-size: 15px;
	
}

#D_button
{
	float:right;
}

#D_body
{
	margin-top: 10px;
}